---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="I'm Yasufumi Nakamoto"
  description="self-introduction"
  pubDate={new Date("2024-01-08")}
  heroImage="/portrait.jpg"
>
  <p>
    広島県在住のITエンジニアです。SRE、インフラエンジニアとして働いています。
  </p>

  <h4>わかる言語</h4>
  <ul>
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>Python</li>
    <li>C++</li>
    <li>C</li>
    <li>Rust</li>
    <li>Shell Script</li>
    <li>HTML</li>
    <li>CSS</li>
  </ul>
  <h4>触ったことのある技術</h4>
  <ul>
    <li>Git</li>
    <li>GitHub</li>
    <li>GitHub Actions</li>
    <li>Azure Pipelines</li>
    <li>Argo CD</li>
    <li>Datadog</li>
    <li>New Relic</li>
    <li>Azure Kubernets Service</li>
    <li>Cloudflare Pages</li>
    <li>React</li>
    <li>Vue</li>
    <li>Astro</li>
  </ul>
  <h4>能力</h4>
  <ul>
    <li>Gitを利用したチーム開発、Github Flowの実践</li>
    <li>Github Actions、Azure Pipelinesを利用したCIの構築</li>
    <li>Argo CDを利用したGitOpsの実践</li>
    <li>AKSによる基盤構築</li>
    <li>Datadog, New Relicを用いたモニタリング</li>
    <li>C, C++によるシステムプログラミング</li>
    <li>Linuxのシステムコールについての基本的な知識</li>
  </ul>
</Layout>
