---
const today = new Date();
---

<footer class="py-8 px-4 bg-gradient-to-b from-gray-light/50 to-white bg-no-repeat text-center">
  <div class="text-gray">
    &copy; {today.getFullYear()} nakamo326. All rights reserved.
  </div>
</footer>
