---
const today = new Date();
---

<footer>
  <div>
    &copy; {today.getFullYear()} nakamo326. All rights reserved.
  </div>
</footer>
<style>
  footer {
    padding: 2em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
</style>
