---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import { Icon } from 'astro-icon/components';
---

<header class="m-0 px-1 bg-white">
  <nav class="flex items-center justify-between">
    <div class="m-0 text-xl font-bold">
      <a href="/">{SITE_TITLE}</a>
    </div>
    <div class="flex">
      <HeaderLink href="/about">About</HeaderLink>
      <a href="https://twitter.com/nakamo326" target="_blank">
        <span class="sr-only">Follow Me on Twitter</span>
        <Icon name="mingcute:twitter-line" size={32} aria-hidden="true" />
      </a>
      <a href="https://github.com/nakamo326" target="_blank">
        <span class="sr-only">Follow Me on GitHub</span>
        <Icon name="mingcute:github-line" size={32} aria-hidden="true" />
      </a>
      <a href="https://nakamo326.com/rss.xml" target="_blank">
        <span class="sr-only">Feed RSS</span>
        <Icon name="mingcute:rss-2-line" size={32} aria-hidden="true" />
      </a>
    </div>
  </nav>
</header>
<style>
  nav a {
    @apply md:px-3 md:py-4 sm:px-1 sm:py-2
      text-black
      border-b-4 border-transparent
      no-underline;
  }

  nav a.active {
    @apply border-accent;
  }
</style>
