---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import { Icon } from 'astro-icon/components';
---

<header>
  <nav>
    <div class="home-link">
      <a href="/">{SITE_TITLE}</a>
    </div>
    <div class="links">
      <HeaderLink href="/about">About</HeaderLink>
      <a href="https://twitter.com/nakamo326" target="_blank">
        <span class="sr-only">Follow Me on Twitter</span>
        <Icon name="mingcute:twitter-line" size={32} aria-hidden="true" />
      </a>
      <a href="https://github.com/nakamo326" target="_blank">
        <span class="sr-only">Follow Me on GitHub</span>
        <Icon name="mingcute:github-line" size={32} aria-hidden="true" />
      </a>
      <a href="https://nakamo326.com/rss.xml" target="_blank">
        <span class="sr-only">Feed RSS</span>
        <Icon name="mingcute:rss-2-line" size={32} aria-hidden="true" />
      </a>
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgb(var(--black) 5%);
  }

  .home-link {
    margin: 0;
    font-size: 1em;
    font-weight: bold;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }

  nav a.active {
    border-bottom-color: var(--accent);
  }

  .links,
  .links a {
    display: flex;
  }

  @media (width <= 720px) {
    nav a {
      padding: 0.5em;
    }
  }
</style>
